#infos
{
    font-size:70%;
    position: absolute;
    left: 10px;
    padding-left: 5px;
    background-color: rgba(0, 0, 0, 0.3);
    top: 500px;
    width: 15%;
    text-align: left;
    line-height:180%;
}
#menu {
    float: left;
    font-family: Helvetica;
    background-color:DarkSeaGreen;
    color: black;
    width: 100%;
    letter-spacing: 0.15em;
    padding: 0.45em 0;
}

#menu ul {
    float: right;
    list-style-type: none;
    padding-right: 40px;
    margin-top: 2.8em;
}

#menu ul li {
    display: inline;
    font-size: 95%;
    color: black;
    margin: 0 0 0 0.5em;
    padding: 0;
}
#menu a {
    border: none;
    font-weight: bold;
    font-size: 125%;
    text-transform: uppercase;
    color: black;
}
#menu a:hover {
    border-bottom: 1px solid;
}
#top_head
{
    width: 100%;
    height: 210px;
}
#corps
{
    position: absolute;
    left: 23%;
    top: 200px;
    right: 23%;
    padding: 20px;
    min-width:39%;
    width: cover;
    height: cover%;
    min-height: 42%;
    line-height:150%;
    background-color: rgba(29, 103, 29, 0.2);
}
body
{
    width : 100%;
    font-family : Helvetica, Arial, sans-serif;
    margin: 0px;
}
h1
{
    font-size : 60px;
    text-align : center;
    width: 100%;
    display : inline;
    padding : 0px;
    text-shadow: 1px 1px #ffffff;
}

#corps p
{
    text-align: justify;
    color: black;
}
a{
    color: black;
    font-weight: bolder;
}
a:hover {
    border-bottom: 1px solid;
}
li{
    color: black;
    text-decoration: none;
}
